external/erpMock/src/main/resources/contratos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">


	<xs:element name="getAllContratosRequest">
        <xs:complexType/>
    </xs:element>     
       
    <xs:element name="getAllContratosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contratos" type="tns:contrato" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>   


    <xs:element name="getContratoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getContratoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contrato" type="tns:contrato"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="contrato">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="texto" type="xs:string"/>
            <xs:element name="area" type="tns:areas"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="areas">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Insumos"/>
            <xs:enumeration value="Limpeza"/>
            <xs:enumeration value="Segurança"/>
            <xs:enumeration value="TI"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>